{% extends "layout.html" %} 
{% block content%}
<br />
<br />
<br />
<br />
<div class="container-fluid" style="margin-left: 450px">
  <div class="card border-success mb-3" style="max-width: 18rem">
    <div class="card-header">Reset your password.</div>
    <div class="card-body text-success">
      <form action="" method="POST">
        <h6 class="card-title">Email</h6>
        <input class="form-control form-control-user" type="email" 
            placeholder="Enter email" name="email">
        <br />
        <button class="btn btn-success btn-block btn-users" type="submit" value="Login">Reset password</button>
        <br>
        <div class="text-center">
          <p class="text-success">{{error}}</p>
        </div>
      </form>
    </div>
  </div>

  {% endblock %}
</div>