{% extends "layoutDemo.html" %}
{% block content %}

<br><br><br><br>
<div id="app">
    <v-app id="inspire">
        <div class="container-fluid">
            <v-data-table v-model="selected" show-select :search="search" :headers="headers" :items="transaction"
                sort-by="calories" class="elevation-2">
                <template v-slot:item.Tag="{ item }">
                    <div v-for="tag in item.Tag">
                        <div v-if="tag">
                            <div>
                                <v-chip class="ma-2" color="pink" label small text-color="white">
                                    <v-icon>
                                        mdi-label
                                    </v-icon>
                                    [[tag]]
                                </v-chip>
                            </div>
                        </div>
                        <div v-else>

                        </div>
                    </div>
                </template>

                <template v-slot:top>
                    <v-toolbar>
                        <v-tabs dark background-color="success">
                            <v-tab>
                                <a href="/information_V2">
                                    <v-badge color="blue">
                                        ข้อมูลลูกค้า
                                    </v-badge>
                                </a>
                            </v-tab>

                            <v-tab>
                                <a href="/marketing_import">
                                    <v-badge color="blue" class="text-white">
                                        นำเข้า
                                    </v-badge>
                                </a>
                            </v-tab>

                            <v-tab>
                                <v-badge class="text-white" color="blue">
                                    นัดDemo
                                </v-badge>
                            </v-tab>
                        </v-tabs>
                    </v-toolbar>
                    <v-toolbar flat>
                        <v-toolbar-title>MANGO ANYWHERE</v-toolbar-title>
                        <v-divider class="mx-4" inset vertical></v-divider>

                        <button type="submit">
                            <v-btn elevation="3" medium small color="success" @click="excelIndex(selected)"><i
                                    class="far fa-file-excel"></i>Index Excel
                            </v-btn>
                        </button>

                        <v-btn style="margin-left: 10px" elevation="3" medium small color="success"
                            @click="sortIndex(selected)"><i class="fas fa-user-tag"></i>Index Sorting
                        </v-btn>

                        <v-spacer></v-spacer>

                        <div class="small">
                            <v-text-field v-model="search" label="Search" single-line hide-details></v-text-field>
                        </div>
                        <v-dialog v-model="dialog" max-width="1000px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn color="success" style=" margin-left: 10px" dark small elevation="3"
                                    v-bind="attrs" v-on="on">
                                    <i class="fa fa-plus" aria-hidden="true"></i>New Item
                                </v-btn>
                            </template>


                            <v-card>
                                <v-card-title>
                                    <span class="headline">[[ formTitle ]]</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field v-model="editedItem.product" label="Product">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field v-model="editedItem.company" label="Company">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field v-model="editedItem.tel" label="Tel"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field v-model="editedItem.email" label="Email">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field v-model="editedItem.message" label="Message">
                                                </v-text-field>

                                            </v-col>
                                            <v-col cols="12" sm="6" md="4">
                                                <v-text-field v-model="editedItem.channel" label="Channel">
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">
                                        Cancel
                                    </v-btn>
                                    <v-btn color="blue darken-1" text @click="save">
                                        Save
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="500px">
                            <v-card>
                                <v-card-title class="headline">Are you sure, you want to delete this item?
                                </v-card-title>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                    <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                    <v-spacer></v-spacer>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>

                <template v-slot:item.actions="{ item }">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </template>

                <template v-slot:no-data>
                    <v-btn color="primary" @click="createInformation">
                        Reset
                    </v-btn>
                </template>
            </v-data-table>
        </div>
    </v-app>
</div>

<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            dialog: false,
            dialogDelete: false,
            selected: [],
            search: '',
            transaction: [],
            editedIndex: -1,
            editedItem: {
                key: '',
                name: '',
                product: '',
                company: '',
                tel: '',
                email: '',
                message: '',

            },
            defualtItem: {
                key: '',
                name: '',
                product: '',
                company: '',
                tel: '',
                email: '',
                message: '',

            }
        }),
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            },
            headers() {
                return [
                    { text: 'แท็ก', align: 'start', value: 'tag', },
                    { text: 'ชื่อ', value: 'fname' },
                    { text: 'ผลิตภัณฑ์', value: 'product' },
                    { text: 'บริษัท', value: 'company' },
                    { text: 'เบอร์', value: 'tel' },
                    { text: 'อีเมล', value: 'email' },
                    { text: 'ข้อความ', value: 'message' },
                    { text: 'วัน/เวลา', value: 'date/time' },
                    { text: 'Action', value: 'actions', sortable: false }
                ]
            },
        },
        watch: {
            dialog(val) {
                val || this.close()
            },
            dialogDelete(val) {
                val || this.closeDelete()
            },
            transaction: 'showData'
        },
        created() {
            this.createInformation()
        },
        mounted() {

        },
        methods: {
            createInformation() {
                this.spinTable = false
                const path = '/json_getdemo';
                axios.get(path)
                    .then((res) => {
                        let response = this.transaction = res.data.ref;
                        console.log(response)
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            },
            onShowTag() {
                this.showTag = !this.showTag
            },
            chipRemove(remove, id) {
                let chip = remove.splice(remove.indexOf(remove),)
                this.updateChip(chip, id)
            },
            sortIndex(selected) {
                user = []
                console.log(selected)
                this.selected.forEach((data) => {
                    user.push(data.id)
                })
            },
            showData() {
                if (this.transaction) {
                    this.spinTable = true
                }
            },
            loadDataInfo() {
                this.spinTable = false;
                this.createInformation()
                console.log(this.spinTable)
            },
            editItem(item) {
                this.editedIndex = this.transaction.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
                console.log(this.editedItem)
            },
            deleteItemConfirm() {
                this.transaction.slice(this.editedIndex, 1)
                this.removeDate(this.editedItem.key)
                this.closeDelete()
            },
            close() {
                this.dialog = false
                this.$nextTick(() => {
                    this.editItem = Object.assign({}, this.defualtItem)
                    this.editedIndex = -1
                })
            },
            closeDelete() {
                this.dialogDelete = false
                this.$nextTick(() => {
                    this.editItem = Object.assign({}, this.defualtItem)
                    this.editedIndex = -1
                })
            },
            save() {
                if (this.editedIndex > -1) {
                    let changedPointer = Object.assign(this.transaction[this.editedIndex], this.editItem)
                    this.updateData(changedPointer, changedPointer.key)
                } else {
                    this.addData(this.editItem)
                    console.log(this.editItem)
                }
                this.close()
            },
            SortPush(box) {
                const path = `/json_getdemo`;
                axios.post(path, box)
                    .then(() => {
                        this.createInformation();
                        this.showLog = 'Sorting!';
                        this.showMessage = true
                    });
            },
            updateChip(chips, id) {

            },
            updateData(changedPointer, id) {
                const path = `/update_getdemo/${id}`;
                axios.post(path, changedPointer)
                    .then(() => {
                        this.showLog = 'Data updated!!';
                        this.showMessage = true
                    })
                    .catch((err) => {
                        console.error(err)
                        this.createInformation()
                    })
            },
            removeData(id) {
                const path = `/delete_getdemo/${id}`
                axios.post(path)
                    .then(() => {
                        console.log(path)
                    })
                    .catch((err) => {
                        console.error(err)
                    })
            }, addData(changedPointer) {
                const path = '/json_getdemo'
                axios.post(path, changedPointer)
                    .then(() => {
                        console.log(changedPointer)
                        this.createInformation()
                        this.showMessage = true
                    })
                    .catch((err) => {
                        console.error(err)
                        this.createInformation()
                    })
            },
            sortProduct(value) {
                this.search = value
            },
        },
        delimiter: ["[[", "]]"]

    })
</script>

{% endblock %}