{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<div id="app">
    <v-app id="inspire">
        <div class="container-fluid" style="margin-bottom: 15px;">
            <v-app id="inspire">
                <v-card elevation="4">
                    <v-card-title>
                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                            hide-details>
                        </v-text-field>
                    </v-card-title>
                    <v-data-table :headers="headers" :items="transaction" :search="search"></v-data-table>
                </v-card>
            </v-app>
    </v-app>
</div>
</div>


<script>
    new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
            return {
                search: '',
                transaction: [],
                headers: [
                    {
                        text: "Date",
                        value: "Date"
                    },
                    {
                        text: "Time",
                        value: "Time"
                    },
                    {
                        text: "Company",
                        value: "company"
                    },
                    {
                        text: "Email",
                        value: "email"
                    },
                    {
                        text: "Name",
                        value: "fname"
                    },
                    {
                        text: "Message",
                        value: "message"
                    },
                    {
                        text: "Product",
                        value: "product"
                    },
                    {
                        text: "Tag",
                        value: "tag"
                    },
                    {
                        text: "Tel.",
                        value: "tel"
                    }
                ]
            }
        },
        delimiters: ["[[", "]]"],
        methods: {
            createTable() {
                const path = '/table';
                axios.get(path)
                    .then((res) => {
                        let response = this.transaction = res.data.ref;
                        console.log('transaction', response)
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            },
        },
        created() {
            this.createTable()
        }
    })
</script>


{% endblock %}