{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<div id="app">
    <v-container fluid>
        <!-- <v-app id="inspire"> -->
            <v-card elevetion="2">
                <form>
                    <v-text-field v-model="username" label="Username. . ." required style="margin-left: 10px;
                                  margin-right: 10px;"></v-text-field>
                    <v-text-field v-model="password" label="Password. . ." required style="margin-left: 10px;
                                  margin-right: 10px;"></v-text-field>
                    <v-btn color="#1DE9B6" elevation="2" rounded style="margin-left: 10px; color:white;">
                        Login
                    </v-btn><br>
                    <v-btn color="#B388FF" elevation="2" rounded style="margin: 10px; color: white;">
                        Register
                    </v-btn>
                </form>
        <!-- </v-app> -->
    </v-container>
</div>

<script>
    new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
            return {
                
            }
        }

    })
</script>

{% endblock %}