{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<div id="app">
    <v-app id="inspire">
        <v-container fluid>
            <v-card elevetion="4" style="padding-top: 15px;">
                <form method="POST">
                    <v-text-field name="username" label="Username" required outlined dense
                        style="margin: 0px 15px 0px 15px"></v-text-field>

                    <v-text-field name="pword" label="Password" required outlined dense
                        style="margin: 0px 15px 0px 15px;"></v-text-field>
                    <!-- <v-alert color="red" type="error"> {{error}}</v-alert> -->
                    <v-row style="margin-top: -15px;">
                        <v-btn color="#00BFA5" type="submit" elevation="2" rounded
                            style="margin: 0px 10px 10px 25px; color:white; margin-right: 10px;">
                            Sign in
                        </v-btn>
                        <v-dialog v-model="dialog" persistent max-width="600px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn color="#B388FF" dark v-bind="attrs" v-on="on" rounded>
                                    Sign up
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">SignUp Information</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="6">
                                                <v-text-field label="First name*" :class="getInput('firstname')"
                                                    v-model="formCheck.firstname.value" @keyup="onActionForm($event)"
                                                    id="firstname" name="name" type="text" outlined dense>
                                                </v-text-field>
                                                [[ getErrorMessage('firstname') ]]
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field label="Last name*" :class="getInput('lastname')"
                                                    v-model="formCheck.lastname.value" @keyup="onActionForm($event)"
                                                    id="lastname" name="lastname" type="text" outlined dense></v-text-field>
                                                [[ getErrorMessage('firstname') ]]
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field label="Username*" :clsss="getInput(userId)"
                                                    v-model="formCheck.userId.value" @keyup="onActionForm($event)"
                                                    id="userId" name="userId" type="text" outlined dense>
                                                </v-text-field>
                                                [[ getErrorMessage('userId') ]]
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field label="Email*" :class="getInput('email')"
                                                    v-model="formCheck.email.value" id="EmailAddress" name="email"
                                                    type="email" outlined dense>
                                                </v-text-field>
                                                [[ getErrorMessage('email') ]]
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field :append-icon="pword ? 'mdi-eye' : 'mdi-eye-off'"
                                                    v-model="formCheck.password.value" @keyup="onActionForm($event)"
                                                    name="password" id="InputPassword"
                                                    :type="pword ? 'text' : 'password'" label="Password*"
                                                    hint="At least 6 characters" outlined dense counter>
                                                </v-text-field>
                                                [[ getErrorMessage('password') ]]
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field :append-icon="confirmpw ? 'mdi-eye' : 'mdi-eye-off'"
                                                    :class="form-control" name="confirmpw" id="confirmpassword"
                                                    :type="confirmpw ? 'text' : 'password'" label="Confirm Password*"
                                                    hint="At least 6 characters" outlined dense counter>
                                                </v-text-field>
                                            </v-col>
                                            <br>
                                            <v-alert :value="alert" color="pink" dark border="top"
                                                transition="scale-transition">
                                                Please Input
                                            </v-alert>
                                        </v-row>

                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="dialog = false">
                                        Close
                                    </v-btn>
                                    <v-btn type="submit" color="blue darken-1" text :disabled="!formValid">
                                        Save
                                    </v-btn>
                                    </button>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-row>
                </form>
            </v-card>
        </v-container>
    </v-app>
</div>

<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                dialog: false,
                formCheck: {
                    firstname: {
                        type: 'text',
                        value: '',
                        validator: {
                            required: true,
                        },
                        touched: false,
                        error: { status: true, message: '' }
                    },
                    lastname: {
                        type: 'text',
                        value: '',
                        validator: {
                            required: true,
                        },
                        touched: false,
                        error: { status: true, message: '' }
                    },
                    userId: {
                        type: 'text',
                        value: '',
                        validator: {
                            required: true,
                            minLength: 4,
                            maxLength: 15
                        },
                        touched: false,
                        error: { status: true, message: '' }
                    },
                    email: {
                        type: 'email',
                        value: '',
                        validator: {
                            required: true,
                            pattern: 'email'
                        },
                        touched: false,
                        error: { status: true, message: '' }
                    },
                    password: {
                        type: 'password',
                        value: '',
                        validator: {
                            required: true,
                            minLength: 6
                        },
                        touched: false,
                        error: { status: true, message: '' }
                    }
                },
                formValid: false
            }
        },
        delimiters: ["[[", "]]"],
        methods: {
            onActionForm() {
                const name = event.target.name;
                const value = event.target.value;
                let updatedForm = { ...this.formCheck };
                updatedForm[name].value = value;
                updatedForm[name].touched = true;
                const validatorObj = this.checkValidator(
                    value,
                    updatedForm[name].validator
                );
                updatedForm[name].error = {
                    status: validatorObj.status,
                    message: validatorObj.message
                };
                let formStatus = true;
                for (let name in updatedForm) {
                    if (updatedForm[name].validator.required === true) {
                        formStatus = !updatedForm[name].error.status && formStatus;
                    }
                }
                this.formCheck = updatedForm;
                this.formValid = formStatus;
            },
            checkValidator(value, rule) {
                let valid = ture;
                let message = '';
                if (valid.trim().length === 0 && rule.required) {
                    valid = false;
                    message = 'Please Input data'
                }
                if (valid.length < rule.minLength && valid) {
                    valid = false;
                    message = `Less than $(rule.minLength) characters`;
                }
                if (rule.pattern === 'email' && valid) {
                    if (/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value) === false) {
                        valid = false;
                        message = 'Invalid Email'
                    }
                    return { status: !valid, message: message }
                }
            },
            getInput(name) {
                const elementErrorStatus = this.formCheck[name].error.status;
                if (!this.formCheck[name].touched) {
                    return ["form-control"];
                } else {
                    return elementErrorStatus && this.formCheck[name].touched ? ['form-control', 'is-invalid'] : ['form-control', 'is-valid'];
                }
            },
            getErrorMessage(name) {
                return this.formCheck[name].error.message;
            },
            btnFormSubmit() {
                const formData = {};
                for (let name in this.formCheck) {
                    formData[name] = this.formCheck[name].value;
                }
            }
        }
    })
</script>

{% endblock %}